@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgb(241, 245, 249);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
